/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.header{
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo{
      width: 200px;
      cursor: pointer;
}

.nav-items > ul{
      list-style-type: none;
      display: flex;
}
 
.nav-items > ul > li{
      padding: 0px 20px;
      cursor: pointer;
}

.cardContainer{
      display: flex;
      flex-wrap: wrap;
}

.card{
      border: 1px solid black;
      margin: 20px;
}

.res-img{
      width: 200px;
}

.shimmer-container{
 width: 100vw;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
}

.shimmer-card{
      width: 250px;
      height: 400px;
      background-color: #fafafa;
      margin: 20px;
}